.chat-card {
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding-right: 30px;
    padding-left: 30px;
}

.chat-card-content {
    display: block;
}

.chat-input-group {
    display: flex;
    flex-direction: column;
}

.chat-messages-content {
    display: block;
}

.chat-messages-window {
    margin-bottom: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages-window h2 {
    text-align: center;
    color: rgb(152,152,152);
}

.my-message {
    float: right;
    width: 80%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(147, 56, 95, 0.7);
    border-radius: 20px;
    margin-bottom: 5px;
}

.my-message #message-sender {
    float: right;
    height: auto;
    max-width: 400px;
    word-break: break-all;
}

.my-message #message-content {
    float: right;
    height: auto;
    margin-top: -10px;
    max-width: 400px;
    word-break: break-all;
}

.incoming-message {
    float: left;
    width: 80%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(159, 107, 153, 0.7);
    border-radius: 20px;
    margin-bottom: 5px;
}

.incoming-message #message-sender {
    float: left;
    height: auto;
    max-width: 400px;
    word-break: break-all;
}

.incoming-message #message-content {
    float: left;
    height: auto;
    margin-top: -10px;
    max-width: 400px;
    word-break: break-all;
}



