<mat-card class="chat-card">
    <mat-card-title class="chat-card-title">Chat</mat-card-title>
    <mat-card-content class="chat-card-content">
        <mat-card class="chat-window">
            <mat-card-content class="chat-window-content">
            </mat-card-content>
        </mat-card>
        <div class="chat-container">            
            <mat-form-field>
                <textarea disabled="false" matInput placeholder="Send a message"></textarea>
            </mat-form-field>
            <button disabled="false" mat-stroked-button color="primary">
                    <mat-icon>send</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
