
<mat-card class="friends-card">
    <mat-card-title class="friends-card-title">Friend List</mat-card-title>
    <mat-card-content class="friends-card-content">
        <mat-nav-list>
            <mat-list-item *ngFor="let friend of getFriends()">
                <a matLine href="...">{{ friend }}</a>
                <button mat-icon-button (click)="showDetails(friend)">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-card-content>
</mat-card>

